@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html{
    scroll-behavior: smooth;
  }
  body{
    @apply bg-[#2e3035] text-[#ecf0f3] tracking-wide font-bold
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }

  h1{
   @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl 
  }

  li{
    @apply cursor-pointer
  }

  button{
    @apply shadow-xl shadow-gray-600 rounded-xl  uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}


